/*----------------------------------------- BODY -----------------------------------------*/
body {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 16px;
	text-align: justify;
}

/*----------------------------------------- MULIT PAGE -----------------------------------------*/
#main-button {
	background-color: #98ccc1;
	color: black;
	border: none;
	padding: 2% 3% 2% 3%;
	margin: 5% 0% 0% 0%;
}

#login-button {
	background-color: #98ccc1;
	color: black;
	border: none;
	padding: 1% 1% 1% 1%;
	margin: 1% 0% 0% 0%;	
}
/*----------------------------------------- NAVBAR -----------------------------------------*/
#nav-logo {
	margin: 0 auto;
	padding: 2% 0% 2% 0%;
}

#patch-navbar {
	padding: 0%;
}

#nav-button {
	border: 1px solid black;
	position: relative;
	background-color: #98ccc1;
}

.icon-bar {
	border: 1px solid black;
}

#nav-list {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: white;
}

#nav-list > li > a {
	color: black;
}

#nav-list > li > a:hover,
#nav-drop > li > a:hover {
	font-size: 20px;
	background-color: #98ccc1;
}

#nav-drop > li > a {
	padding: 2%;
}

.affix {
	top: 0px;
	width: 100%;
	z-index: 9999 !important;
}



/*----------------------------------------- HOME -----------------------------------------*/
#home-video {
	margin: 0% 0% 5% 0%;
}

#home-blockquote {
	margin: 5% 0% 5% 0%;
	font-weight: bolder;
	font-size: 20px;
}

#home-placeholder-img {
	border-radius: 50%;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 8%;
}

#home-info {
	width: 29%;
	float: left;
	text-align: center;
	margin: 0% 2% 3% 2%;
}

#home-login-img {
	display: relative;
	width: 100vw;
	height: 20vh;
	margin: 2% 0% 2% 0%;
}

#home-login-text {
	display: absolute;
	transform: translate(0%, -175%);
	font-weight: bolder;
	font-size: 18px;
	text-align: center;
	width: 100%;
}
/*----------------------------------------- FOOTER -----------------------------------------*/
#footer-main {
	text-align: center;
	width: 30%;
}

#footer-social {
	color: #98ccc1;
	margin: 1% 1% 1% 1%;
}

#footer-copy {
	font-size: 10px;
	font-weight: smaller;
}
/*----------------------------------------- MEDIA -----------------------------------------*/
@media screen and (max-width:767px) {
	/*----------------- NAVBAR -----------------*/
	#nav-logo {
		position: absolute;
		height: 5%;
		margin: 1% 0% 0% 45%;
		padding-top: 1%;
	}

	#patch-navbar {
		width: 100%;
		text-align: right;
		margin: 0%;
		padding: 0%;
	}

	#nav-drop {
		text-align: right;
		border: none;
	}

	#nav-list,
	#nav-list > li > a {
		width: 100%;
		text-align: right;
		display: block;
	}

	#nav-list > li > a:hover,
	#nav-drop > li > a:hover {
		background-color: #98ccc1;
		padding: 3% 10% 3% 3%;
	}
	/*----------------- HOME -----------------*/
	#home-intro {
		padding: 0% 5% 0% 5%;
	}
}

@media screen and (max-width: 550px) {
	#home-info-div,
	#home-info-h3 {
		display: none;
	}
}