/*----------------------------------------- BODY -----------------------------------------*/
body {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 16px;
	text-align: justify;
}
/*----------------------------------------- MULIT PAGE -----------------------------------------*/
#main-button {
	background-color: #98ccc1;
	color: black;
	border: none;
	padding: 2% 3% 2% 3%;
	margin: 5% 0% 0% 0%;
}

#button {
	background-color: #98ccc1;
	color: black;
	border: none;
	padding: 1% 1% 1% 1%;
	margin: 1% 0% 0% 0%;	
}

#item-img {
	width: 100%;
	height: 50vh;
	display: relative;
}

#item-text {
	display: absolute;
	transform: translate(15%, -175%);
	text-align: center;
	width: 75%;
}

#item-h5 {
	font-weight: bolder;
	font-size: 18px;
	text-align: justify;
}

#item-bio {
	margin: 15% 0% 0% 0%;
}

#additional-items {
	list-style: none;
	text-align: center;
	margin: 10% 0% 5% 0%;
}

#additional-item-list {
	float: left;
	width: 16.6666%;
	margin: 2% 0% 2% 0%;
}

#additional-item-list > a {
	margin: 0% 4% 0% 0%;
	color: black;
}

#additional-item-list > a:hover {
	background-color: #98ccc1;
	padding: 1% 10% 1% 10%;
	text-decoration: none;
}

#item-indent {
	margin: 0% 0% 0% 10%;
}

#item-verbage {
	margin-top: -175px;
}

#search > div > span > button {
	background-color: #98ccc1;
}

#search > div > input {
	border: 2px solid #98ccc1;
}
/*----------------------------------------- NAVBAR -----------------------------------------*/
#nav-logo {
	margin: 0 auto;
	padding: 2% 0% 2% 0%;
}

#patch-navbar {
	padding: 0%;
}

#nav-button {
	border: 1px solid black;
	position: relative;
	background-color: #98ccc1;
}

.icon-bar {
	border: 1px solid black;
}

#nav-list {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: white;
}

#nav-list > li > a {
	color: black;
}

#nav-list > li > a:hover,
#nav-drop > li > a:hover {
	font-size: 20px;
	background-color: #98ccc1;
}

#nav-drop > li > a {
	padding: 2%;
}

.affix {
	top: 0px;
	width: 100%;
	z-index: 9999 !important;
}
/*----------------------------------------- HOME -----------------------------------------*/
#home-video {
	margin: 0% 0% 5% 0%;
}

#home-blockquote {
	margin: 5% 0% 5% 0%;
	font-weight: bolder;
	font-size: 20px;
}

#home-placeholder-img {
	border-radius: 50%;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 8%;
}

#home-info {
	width: 29%;
	float: left;
	text-align: center;
	margin: 0% 2% 3% 2%;
}

#home-login-img {
	display: relative;
	width: 100vw;
	height: 30vh;
	margin: 2% 0% 2% 0%;
}

#home-login-text {
	display: absolute;
	transform: translate(0%, -230%);
	font-weight: bolder;
	font-size: 18px;
	text-align: center;
	width: 100%;
}
/*----------------------------------------- ABOUT -----------------------------------------*/
#about-h1 {
	text-align: center;
}

#about-bio-section {
	float: left;
	width: 33.3333%;
	text-align: center;
}

#about-placeholder-img {
	border-radius: 50%;
	margin: 3% 0% 3% 0%;
	width: 50%;
}

#about-bio-text {
	padding: 2% 2% 2% 2%;
}

#about-placeholder-middle {
	width: 200%;
	height: 50vh;
	margin: 10% 0% 10% 0%;
	border-radius: 10px;
}

#about-accordion-h1 {
	text-align: center;
}

#about-accordion-div {
	margin: 0% 0% 2% 0%;
}

#about-accordion-img {
	border-radius: 50%;
	float: left;
	margin: 0% 3% 3% 0%;
}

#about-accordion > div {
	background-color: #98ccc1;
}

#about-accordion > div > a {
	color: black;
}

#about-accordion > div > a:hover {
	text-decoration: none;
}

#about-panel > h5:hover {
	font-size: 20px;
}
/*----------------------------------------- ITEM-2 -----------------------------------------*/
#item-2-list {
	margin: -175px 0% 0% 0%;
	float: left;
	width: 49.9999%;
	padding: 0% 0% 0% 15%;
}
/*----------------------------------------- ITEM-3 -----------------------------------------*/
#item-3-list {
	float: left;
	width: 33.3333%;
	padding: 0% 2% 10% 2%;
}
/*----------------------------------------- ITEM-4 -----------------------------------------*/
#item-4-list {
	float: left;
	width: 49.9999%;
	padding: 0% 2% 5% 2%;
}
/*----------------------------------------- ITEM-5 -----------------------------------------*/
#item-5-list {
	float: left;
	width: 49.9999%;
	padding: 0% 2% 5% 2%;
}

#item-5-list-bottom {
	float: left;
	width: 33.3333%;
	padding: 0% 2% 10% 8%;
}
/*----------------------------------------- ITEM-6 -----------------------------------------*/
#item-6-list {
	float: left;
	width: 49.9999%;
	padding: 0% 2% 5% 2%;
}

#item-6 {
	color: black;
}

#item-6:hover {
	text-decoration: none;
	background-color: #98ccc1;
}
/*----------------------------------------- ITEM-7 -----------------------------------------*/
#item-7-verbage {
	margin: -130px 0px 0px 0px;
}

#item-7-angled-img {
	margin: 5% 0% 5% 0%;
	position: absolute;
	background-size: cover;
	min-width: 100%;
	height: 30%;
	/* TOP-LEFT, TOP-RIGHT, BOTTOM-RIGHT LENGTH, BOTTOM-POINT, BOTTOM-LEFT LENGTH */
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
  	clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
}

#item-7-angled-text {
	width: 100%;
	padding: 0% 10% 0% 10%;
	margin: 8% 0% 8% 0%;
}

#item-7-text {
	padding: 3% 0% 0% 0%;
}

#item-7-codes {
	font-weight: bolder;
	text-align: center;
	margin: 10% 0% 0% 0%;
}

#item-7-codes > a {
	color: #98ccc1;
}

#item-7-code {
	margin: 0% 2% 0% 2%;
}

#item-7-h2 {
	text-align: center;
}
/*----------------------------------------- ITEM-8 -----------------------------------------*/
#item-8-search {
	margin: -175px 0% 5% 25%;
	max-width: 50%;
}

#item-8-search > div > span > button {
	background-color: #98ccc1;
}

#item-8-search > div > input {
	border: 2px solid #98ccc1;
}

#item-8-img {
	width: 25%;
	float: left;
	margin: 0% 3% 0% 0%;
}

#item-8-specs {
	width: 15%;
	margin: 0% 3% 0% 0%;
	float: left;
}

#item-8-details {
	width: 36%;
	float: left;
}

#itme-8-hr {
	border: 1px solid #98ccc1;
}

#item-8-pagin {
	width: 100%;
	text-align: center;
}
#item-8-page-num {
	margin: 2%;
	color: black;
}

#item-8-page-num:hover {
	background-color: #98ccc1;
	text-decoration: none;
	padding: 1% 1% 1% 1%;
}
/*----------------------------------------- CONTACT -----------------------------------------*/
#contact-info {
	text-align: center;
}

#contact-map {
	height: 500px;
	width: 100%;
	border-radius: 10px;
	border: 2px solid #98ccc1;
	margin: 5% 0% 5% 0%;
}
/*----------------------------------------- FOOTER -----------------------------------------*/
#footer-main {
	text-align: center;
	width: 30%;
}

#footer-social {
	color: #98ccc1;
	margin: 1% 1% 1% 1%;
}

#footer-copy {
	font-size: 10px;
	font-weight: smaller;
}
/*----------------------------------------- MEDIA -----------------------------------------*/
@media screen and (max-width: 1300px) {
	/*----------------- ITEM-8 -----------------*/
	#item-8-specs {
		width: 30%;
		display: inline-block;
		float: none;
	}

	#item-8-details {
		width: 100%;
	}
}

@media screen and (max-width:767px) {
	/*----------------- NAVBAR -----------------*/
	#nav-logo {
		position: absolute;
		height: 5%;
		margin: 1% 0% 0% 45%;
		padding-top: 1%;
	}

	#patch-navbar {
		width: 100%;
		text-align: right;
		margin: 0%;
		padding: 0%;
	}

	#nav-drop {
		text-align: right;
		border: none;
	}

	#nav-list,
	#nav-list > li > a {
		width: 100%;
		text-align: right;
		display: block;
	}

	#nav-list > li > a:hover,
	#nav-drop > li > a:hover, {
		background-color: #98ccc1;
		padding: 3% 10% 3% 3%;
	}
	/*----------------- MULIT PAGE -----------------*/
	#home-intro,
	#about-accordion-div,
	#about-accordion,
	#about-meet-section,
	#item-1-list,
	#item-bio,
	#additional-items,
	#item-verbage,
	#item-8-list {
		padding: 0% 5% 0% 5%;
	}

	#item-text {
		padding: 0% 3% 0% 3%;
		width: 100%;
		transform: translate(0%, -150%);
	}

	/*----------------- ABOUT -----------------*/
	#about-panel > h5:hover {
		padding: 0% 0% 0% 3%;
	}

	/*----------------- ITEM-6 -----------------*/
	#item-6-list {
		width: 100%;
	}

	/*----------------- ITEM-7 -----------------*/
	#item-7-verbage {
		margin: -170px 0px 0px 0px;
		padding: 0% 2% 0% 2%;
	}

	#item-7-angled-text {
		padding: 0% 5% 0% 5%;
		margin: 3% 0% 5% 0%;
	}

	#item-7-text {
		padding: 20% 0% 0% 0%;
		margin: 0% 8% 0% 8%;
	}
}

@media screen and (max-width: 550px) {
	/*----------------- MULTI PAGE -----------------*/
	#home-info-div,
	#home-info-h3,
	#about-bio-text {
		display: none;
	}
	
	#item-verbage {
		margin: -225px 0px 0px 0px;
	}

	#additional-item-list > a:hover {
		font-size: 14px;
	}

	/*----------------- ITEM 3 -----------------*/
	#item-3-list {
		margin: 0px 0% 0% 0%;
		float: none;
		width: 100%;
	}

	/*----------------- ITEM-7 -----------------*/
	#item-7-verbage {
		margin: -250px 0px 0px 0px;
		padding: 0% 2% 0% 2%;
	}
}